<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Admin Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Admin <span
                        class="sr-only">(current)</span></a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchAdmins(key.value)" #key="ngModel" ngModel name="key"
                id="searchName" class="form-control mr-sm-2" placeholder="Search admins..." required>
        </form>
    </div>
</nav>

<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let admin of admins" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="{{admin?.imageURL}}" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{admin?.nombre}}</h5>
                        <p class="m-0">{{admin?.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a
                            href="#">{{admin?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Telefono : {{admin?.telefono}}
                    </li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a (click)="onOpenModal(admin, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                            data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <a (click)="onOpenModal(admin, 'delete')" class="btn btn-secondary tooltips"
                            data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i
                                class="fa fa-times"></i></a>
                    </div>
                    <ul class="social-links list-inline mb-0">
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                class="tooltips" href="" data-original-title="Facebook"><i
                                    class="fa fa-facebook-f"></i></a></li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip"
                                class="tooltips" href="" data-original-title="Skype"><i class="fa fa-skype"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Admin Modal -->
<div class="modal fade" id="addAdminModal" tabindex="-1" role="dialog" aria-labelledby="addAdminModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addAdminModalLabel">Add Admin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #addForm="ngForm" (ngSubmit)="onAddAdmin(addForm)">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" ngModel name="nombre" class="form-control" id="nombre" placeholder="Nombre"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Titulo de trabajo</label>
                        <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile"
                            placeholder="Titulo de trabajo" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Telefono</label>
                        <input type="text" ngModel name="telefono" class="form-control" id="telefono"
                            placeholder="Telefono" required>
                    </div>
                    <div class="form-group">
                        <label for="phone">Imagen URL</label>
                        <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl"
                            placeholder="Imagen URL" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="add-admin-form" class="btn btn-secondary"
                            data-dismiss="modal">Close</button>
                        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Admin Modal -->
<div class="modal fade" id="updateAdminModal" tabindex="-1" role="dialog" aria-labelledby="adminEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateAdminModalLabel">Edit Admin {{editAdmin?.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form #editForm="ngForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" ngModel="{{editAdmin?.nombre}}" name="nombre" class="form-control"
                            id="nombre" aria-describedby="emailHelp" placeholder="nombre">
                    </div>
                    <input type="hidden" ngModel="{{editAdmin?.id}}" name="id" class="form-control" id="id"
                        placeholder="Id">
                    <input type="hidden" ngModel="{{editAdmin?.adminCode}}" name="userCode" class="form-control"
                        id="userCode" placeholder="adminCode">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" ngModel="{{editAdmin?.email}}" name="email" class="form-control" id="email"
                            placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="phone">Job title</label>
                        <input type="text" ngModel="{{editAdmin?.jobTitle}}" name="jobTitle" class="form-control"
                            id="jobTitle" placeholder="Job title">
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone</label>
                        <input type="text" ngModel="{{editAdmin?.telefono}}" name="telefono" class="form-control"
                            id="telefono" name="telefono" placeholder="telefono">
                    </div>
                    <div class="form-group">
                        <label for="phone">Image URL</label>
                        <input type="text" ngModel="{{editAdmin?.imageURL}}" name="imageURL" class="form-control"
                            id="imageURL" placeholder="Imagen URL">
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                        <button (click)="onUpdateAdmin(editForm.value)" data-dismiss="modal"
                            class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="deleteAdminModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Delete Admin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete the admin {{deleteAdmin?.nombre}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button (click)="onDeleteAdmin(deleteAdmin?.id)" class="btn btn-danger"
                        data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Notification for no employees -->
<div *ngIf="admins?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">NO EMPLOYEES!</h4>
        <p>No Employees were found.</p>
    </div>
</div>